packages/
RestoChoice/obj/
RestoChoice/bin/roslyn/vbc.rsp
RestoChoice/bin/roslyn/vbc.exe.config
RestoChoice/bin/roslyn/csi.rsp
RestoChoice/bin/roslyn/csi.exe.config
RestoChoice/bin/roslyn/csc.rsp
RestoChoice/bin/roslyn/csc.exe.config
RestoChoice/bin/roslyn/VBCSCompiler.exe.config
RestoChoice/bin/roslyn/Microsoft.VisualBasic.Core.targets
RestoChoice/bin/roslyn/Microsoft.Managed.Core.targets
RestoChoice/bin/roslyn/Microsoft.CSharp.Core.targets
RestoChoice/bin/System.Web.Webpages.xml
RestoChoice/bin/System.Web.Webpages.Razor.xml
RestoChoice/bin/System.Web.Webpages.Deployment.xml
RestoChoice/bin/System.Web.Razor.xml
RestoChoice/bin/System.Web.Mvc.xml
RestoChoice/bin/System.Web.Helpers.xml
RestoChoice/bin/System.Threading.Tasks.Extensions.xml
RestoChoice/bin/System.Reflection.Metadata.xml
RestoChoice/bin/System.Collections.Immutable.xml
RestoChoice/bin/RestoChoice.dll.config
RestoChoice/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
RestoChoice/bin/Microsoft.CodeAnalysis.xml
RestoChoice/bin/Microsoft.CodeAnalysis.CSharp.xml
RestoChoice/bin/EntityFramework.xml
RestoChoice/bin/EntityFramework.SqlServer.xml
RestoChoice.Tests/bin/
RestoChoice.Tests/obj/
.vs/
