<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <providers>
    <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
  </providers>
  <connectionStrings>
    <add name="SurveyDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Survey.Models.SurveyDbContext;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFrameworkMUE" />
  </connectionStrings>
</configuration>