@model List<Survey.Models.Restaurant>

<table>
    <tr>
        <th>Name</th>
        <th>Phone</th>
    </tr>
    @foreach (Survey.Models.Restaurant resto in Model)
    {
    <tr>
        <td>
            @resto.Name
        </td>
        <td>
            @resto.PhoneNumber
        </td>
    </tr>
    }
</table>
